body
{
    margin-left: 20%;
    margin-right: 20%;
}

header
{
    text-align: center;
}

header>h1
{
    font-size: 4em;
    margin-bottom: 0px;
}

header>h2
{
    font-size: 2em;
    margin-top: 0px;
}

main
{
    text-align: justify;
}

main code
{
    background-color: #fafafa;
    border-radius: 2px;
}