@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro&display=swap');

body
{
    margin-left: 20%;
    margin-right: 20%;
}

header
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header>h1
{
    font-size: 4em;
    margin-bottom: 0px;
}

header>h2
{
    font-size: 2em;
    margin-top: 0px;
}

main
{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

main code
{
    background-color: #fafafa;
    border-radius: 2px;
    font-family: 'Source Code Pro', monospace;
}
